body {
    overflow-x: hidden;
}

#form-container {
  background: url("../images/white brick backgroung.jpg") no-repeat scroll center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 95vh;
  text-align: center;
  font-size: 25px;
}

h2 {
  padding-top: 25px;
  font-size: 75px;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
#todoInput {
  font-family: monospace;
  font-weight: lighter;
  font-style: oblique;
}

#addBtn {
  padding: 5px;
  width: 8%;
  height: 40px;
  background: white;
  color: teal;
  text-align: center;
  font-size: 23px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
#addBtn:hover {
  background-color: #bbb;
}

ul li {
  width: auto;
  position: relative;
  background: #E0CD66;
}

ul li:hover {
  background: #ddd5a6;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#clear-all {
  font-size: 15px;
  text-align: center;
}

#clear-all:link {

}

h3 {
  font-family: monospace;
  font-size: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#footer {
  background-color: teal;
  width: auto;
  height: 40px;

}
h4 {
  font-style: oblique;
  text-align: center;
  font-size: 13px;
  position: relative;
}
